.form-wrapper {
  padding: 1em 0 1em;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.styled-button {
  font-size: 0.9em;
  border: white solid 1px;
  background-color: transparent;
  color: white;
  padding: 0.5em;
  margin: 1em 2em 0 0;
}

.styled-input {
  font-size: 0.9em;
  border: white solid 1px;
  padding: 0.5em;
  margin: 1em 2em 0 0;
}

.title {
  margin: 0 0.3em;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: #DD0031;
}
