<div class="support-wrapper">
  <div class="container-view">
    <div class="title">
      <h1>Support</h1>
    </div>
    <p>How often where React searched compared to other Frameworks?</p>
    <div class="support-component-container">
      <div id="trends">
        <div class="title">
          Google Trends
          <a href="https://trends.google.com/trends/explore?cat=733&date=today%205-y&q=React,Vue,Angular" target="_blank">(Link)</a>
        </div>
        <app-google-trends></app-google-trends>
      </div>
      <div class="support-chart-wrapper">
        <div class="support-chart-container">
          <div class="title">Github-Stars</div>
          <div class="github-wrapper">
            <app-github-stars></app-github-stars>
          </div>
        </div>
        <div class="support-chart-container">
          <div class="title">npm Downloads</div>
          <div class="npm-wrapper">
            <app-npm-downloads></app-npm-downloads>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
