.nav-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 1em 1em 0.5em;
  width: 100%;
}

.navigation-wrapper {
  width: calc(100% - 30%);
  padding: 1rem 15%;
  border: 1px solid white;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  font-weight: lighter;
}

.navigation-button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 0 1em;
  line-height: 2em;
  letter-spacing: 0.25em;
  font-weight: 300;
}
.navigation-button:hover {
  color: #DD0031;
  font-weight: bolder;
}
